<div class="row justify-content-center">
  <h2>My account</h2>
</div>

<div class="row justify-content-center">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, validate: true) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= image_tag user_avatar(current_user, 100), class: 'rounded-circle mb-2', alt: current_user.name %>
      <%= f.file_field :avatar %>
    </div>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <% f.select :role, %i[user moderator admin], default: :user %>

    <div class="actions mt-2">
      <%= f.submit "Update", class: 'btn btn-success' %>
      <%= link_to "Back", :back, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<div class="row justify-content-center mt-5">
  <h3>Unhappy?</h3>
</div>
<div class="row justify-content-center">
<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %>
</div>